{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" >
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chatbot_bot/css/style.css' %}">
    <script type="text/javascript" src="{% static 'chatbot_bot/js/main.js' %}"></script>
    <title>Responsive Navbar</title>
    <link rel="icon" href="{% static 'chatbot_bot/favicon.ico' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="/">Web Dev Creative</a> </div>
            <ul class="links">
                <li><a href="/">Home</a> </li>
                <li><a href="about">About</a> </li>
                <li><a href="services">Services</a> </li>
                <li><a href="contact">Contact</a> </li>
            </ul>
            <a href="page" class="action_btn">Get Started</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        
        <main>
            <section id="hero" style="width: 600px;">
                <h1>Welcome</h1>
                <p>
                    Healthcare Chatbot
                </p>
            </section>
        </main>

        <script>
            const toggleBtn = document.querySelector('.toggle_btn')
            const toggleBtnIcon = document.querySelector('.toggle_btn i')
            const dropDownMenu = document.querySelector('.dropdown_menu')

            toggleBtn.onclick = function () {
                dropDownMenu.classList.toggle('open')
                const isOpen = dropDownMenu.classList.contains('open')

                toggleBtnIcon.classList = isOpen
                    ? 'fa-solid fa-xmark'
                    : 'fa-solid fa-bars'
            }
        </script>
    </header>
</body>
</html>